@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 400 14px Roboto, sans-serif;
}

input, button, textarea{
    font: 400 18px Roboto, sans-serif;
}

button{
    cursor: pointer;
}

/* ASIDE */

aside{
    width: 400px;
    background: linear-gradient(329.54deg, #d8d8d8 0%, #8d8d8d 100%);
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

aside p{
    font-size: 18px;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 35px;
}

aside li{
    margin-bottom: 12px;
    transition: .2s;
}

aside li:hover{
    opacity: 0.6;
}

/* input */

section.form input{
    width: 95%;
    height: 45px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-bottom: 8px;
}

section.form .input-group{
    position: relative;
}

section.form .icon{
    position: absolute;
    left: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    height: 30px;
    background-color: white;
}